%section.list-avis
  %h1.tab-title
    Avis des invités
    %span.count= avis.count

  %ul
    - avis.each do |avis|
      %li.one-avis.flex.align-start
        .width-100
          %h2.claimant
            Demandeur :
            %span.email= (avis.claimant.email == current_instructeur.email) ? 'Vous' : avis.claimant.email
            - if avis.confidentiel?
              %span.confidentiel
                confidentiel
                %span.icon.lock{ title: "Cet avis n'est pas affiché avec les autres experts consultés" }
            %span.date{ class: highlight_if_unseen_class(avis_seen_at, avis.created_at) }
              Demande d'avis envoyée le #{l(avis.created_at, format: '%d/%m/%y à %H:%M')}
          %p= avis.introduction

          .answer.flex.align-start
            %span.icon.bubble.avis-icon
            .width-100
              %h2.instructeur
                = (avis.email_to_display == current_instructeur.email) ? 'Vous' : avis.email_to_display
                - if avis.answer.present?
                  - if avis.revoked?
                    %span.waiting{ class: highlight_if_unseen_class(avis_seen_at, avis.revoked_at) }
                      Demande d'avis révoquée le #{l(avis.revoked_at, format: '%d/%m/%y à %H:%M')}
                  - else
                    - if avis.revokable_by?(current_instructeur)
                      %span.waiting= link_to("Révoquer l'avis", revoquer_instructeur_avis_path(avis.procedure, avis), data: { confirm: "Souhaitez-vous révoquer la demande d'avis à #{avis.email_to_display} ?" }, method: :patch)
                  %span.date{ class: highlight_if_unseen_class(avis_seen_at, avis.updated_at) }
                    Réponse donnée le #{l(avis.updated_at, format: '%d/%m/%y à %H:%M')}
                - else
                  %span.waiting
                    En attente de réponse
                    - if avis.revokable_by?(current_instructeur)
                      = link_to("Révoquer l'avis", revoquer_instructeur_avis_path(avis.procedure, avis), data: { confirm: "Souhaitez-vous révoquer la demande d'avis à #{avis.email_to_display} ?" }, method: :patch)
              - if avis.piece_justificative_file.attached?
                = render partial: 'shared/attachment/show', locals: { attachment: avis.piece_justificative_file.attachment }
              .answer-body
                = simple_format(avis.answer)
