- content_for :footer do
  = render partial: "root/footer"

.landing
  .landing-panel.hero-panel
    .container
      .hero-wrapper
        .hero-text
          %h1.hero-tagline
            %em.hero-tagline-em Effectuer
            %br<>
            %em.hero-tagline-em une démarche administrative
            %br<>
            %em.hero-tagline-em en ligne

        .hero-illustration
          %img{ :src => image_url("landing/hero/dematerialiser.svg"), alt: '' }

  .landing-panel.usagers-panel
    .container
      .role-panel-wrapper
        .role-panel-30.role-usagers-image
          %img.role-image{ :src => image_url("landing/roles/usagers.svg"), alt: '' }

        .role-panel-70
          %h2.role-panel-title Vous souhaitez effectuer une demande auprès d'une administration ?
          %p.role-panel-explanation Réalisez vos demandes en toute simplicité et retrouvez vos dossiers en ligne

          = link_to "Comment trouver ma démarche ?",
            COMMENT_TROUVER_MA_DEMARCHE_URL,
            target: "_blank",
            rel: "noopener noreferrer",
            class: "role-panel-button-primary"

          = link_to "Se connecter",
            new_user_session_path,
            class: "role-panel-button-secondary"

  - cache "numbers-panel", :expires_in => 3.hours do
    .landing-panel
      .container
        %h2.landing-panel-title demarches-simplifiees.fr en chiffres
        %ul.numbers
          %li.number
            .number-value
              = number_with_delimiter(Procedure.includes(:administrateurs).publiees_ou_closes.flat_map(&:administrateurs).uniq.count, :locale => :fr)
            .number-label<
              administrations
              %br<>
              partenaires
          %li.number
            .number-value
              = number_with_delimiter(Dossier.state_not_brouillon.count, :locale => :fr)
            .number-label<
              dossiers
              %br<>
              déposés
          %li.number
            .number-value
              = "#{number_with_delimiter(50, :locale => :fr)} %"
            .number-label<
              de réduction
              %br<>
              des délais de traitement

  .landing-panel.cta-panel
    .container
      .cta-panel-wrapper
        %div
          %h2.cta-panel-title Une question, un problème ?
          %p.cta-panel-explanation La réponse est dans l’aide en ligne
        %div
          = link_to "Accéder à l’aide en ligne", FAQ_URL,
            class: "cta-panel-button-white",
            target: "_blank",
            rel: "noopener noreferrer"
        -#   We temporarily disable the link to the contact page on the homepage
        -#   %p.cta-panel-explanation Notre équipe est disponible pour vous renseigner et vous aider
        -# %div
        -#   = contact_link "Contactez-nous",
        -#     tags: 'landing',
        -#     class: "cta-panel-button-white",
        -#     target: "_blank",
        -#     rel: "noopener noreferrer"

  .landing-panel
    .container
      .cta-panel-wrapper
        %div
          %h2.cta-panel-title Administration : vous voulez dématerialiser ?
          %p.cta-panel-explanation Proposez à vos usagers de remplir leurs dossiers en ligne
        %div
          = link_to "Découvrez notre outil",
            administration_path,
            class: "cta-panel-button-blue"
